body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

ul {
  list-style-type: none;
  margin-inline-start: 1000px;
}

li {
  display: inline;
}

a {
  font-size: 1.30em;
  padding: 10px;
}

p {
  color: black;
}

div.texto {    
  margin-inline-start: 315px;
  margin-inline-end: 315px;
  margin-top: 31px;
  margin-bottom: 31px;
  height: 161px;
  background-color: white;
  border: 3px solid black;
  box-shadow: 0px 5px 8px #888888;
}

div.menu {  
  display: flex;
  height: 50px;
  
}

div.trabalho {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 161px;
  border: 3px solid black;
  background-color: white;
  margin-inline-start: 470px;
  margin-inline-end: 470px;
  margin-top: 150px;
  box-shadow: 0px 5px 8px #888888;
}

#trabalho2 {
  margin-top: 151px;
}/* Espaçamento entre a primeira e a segunda div do trabalhos.html */

#familia {
  margin-top: 130px;
}

p.trabalho {
  font-size: 3em;
  font-weight: bold;
}

.fundo {
  background-image: url(../img/barra-preta.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-color: #BDBEC8;
}

.foto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
