<!DOCTYPE html>
<html lang="pt-br">
<head>  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/styles.css" />
  {% block title %}
  <title>Document</title>
  {% endblock %} 

</head>

<body class="fundo"> 

  <div class="menu"><!-- Navbar -->
    <!-- Cabeçalho onde ficará a logo e o menu de navegação -->
      <img src="../static/img/logo.png" alt="logo">
        <ul>
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/trabalhos">Trabalhos</a>
          </li>
          <li>
            <a href="/familia">Família</a>
          </li>
        </ul>
  </div>

  {% block content %}

  {% endblock %}  
</body>
</html>