{% extends "base.html" %}

{% block title %}
<title>Família</title>
{% endblock %}

{% block content %}
<div>
  <!-- Onde ficará a foto da família -->
  <img class="foto_familia" src="../static/img/foto_familia_desktop.png" alt="foto família">
</div>
<div class="texto">
  <!-- Descrição de familiares -->
  <h2>Descrição Famíliar</h2>
  <p>Essa é a minha família, toda minha base . No meio meu pai, Cosme sempre o pilar da família. Na direita, meu irmão Samuel, uma das pessoas mais verdadeiras que eu conheço. <br>
  Minha irmã no canto direito, Camila a pessoa mais forte desse mundo. No canto esquerdo minha sobrinha Kimberly, a mais espontânea da família. <br>
  Sem eles eu certamente não seria nada
  </p>
</div>
{% endblock %}
  
