{% extends "base.html" %}

{% block title %}
<title>Família</title>
{% endblock %}

{% block content %}
<div>
  <!-- Onde ficará a foto da família -->
  <img class="foto" src="https://via.placeholder.com/500.png?text=Foto+falimia" alt="foto família">
</div>
<div id="familia" class="texto">
  <!-- Descrição de familiares -->
  <h2>Descrição Famíliar</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad tempore in tenetur dolorem voluptatum quidem, voluptas error illo voluptate sapiente perspiciatis eos eum ipsam doloribus fuga nesciunt aspernatur? Sit, neque?</p>
</div>
{% endblock %}
  
