<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/styles.css" />
    <title>Home</title>
  </head>
  <body class="fundo">
      <!-- Barra preta no fundo do body -->

      <div class="menu">
        <!-- Cabeçalho onde ficará a logo e o menu de navegação -->
        <img src="../static/img/logo.png" alt="logo">
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="portfolio.html">Trabalhos</a>
          </li>
          <li>
            <a href="familia.html">Família</a>
          </li>
        </ul>
      </div>

      <div>
        <!-- Onde ficará minha foto -->
        <img class="foto" src="..\static\img\foto400x400.png" alt="foto" />
      </div>

      <div class="texto">
        <!-- Informações pessoais -->
        <h2>Dados Pessoais</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nostrum quod quas in ratione voluptate placeat omnis error itaque distinctio, corrupti velit eum nemo hic quo facilis tempora, sequi voluptatibus!</p>
      </div>

      <div class="texto">
        <!-- Informações educacionais -->
        <h2>Dados educacionais</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste maiores reiciendis maxime saepe rerum reprehenderit. Optio, esse ex eligendi iure laborum nobis dicta nesciunt voluptatibus id enim, ratione obcaecati nisi.</p>
      </div>

    </div>
  </body>
</html>
