{% extends "base.html" %}

{% block title %}
<!-- Titulo da head -->
<title>Home</title>
{% endblock %}

{% block content %}
<!-- Onde ficará minha foto -->
<!-- Picture serve para diferenciar a foto do layout desktop(400x400) e a do mobile (350x350) -->
<picture>
  <source class="foto_minha" media="(max-width: 1023px)" srcset="..\static\img\foto350x350.png">
  <img class="foto_minha" src="..\static\img\foto400x400.png" alt="foto" />
</picture>




<!-- Informações pessoais -->
<div class="texto">
  <h2>Dados Pessoais</h2>
  <p>Meu nome é Matheus, eu tenho 25 anos. Sou nascido e criado na cidade de Jacareí- SP</p>
</div>

<!-- Informações educacionais -->
<div class="texto">
  <h2>Dados educacionais</h2>
  <p>Me formei no ensino médio em 2014, em uma escola públlica. Depois fiz um Técnico em Química na ETEC da minha cidade. <br>
  Atualmente estou cursando o curso superior de Desenvolvimento de Software Multiplataforma na FATEC de São José dos Campos com previsão de término no segundo semestre de 2025
  </p>
</div>
{% endblock %}