{% extends "base.html" %}

{% block title %}
<title>Home</title><!-- Titulo da head -->
{% endblock %}

{% block content %}
<div>
  <div>
    <!-- Onde ficará minha foto -->
    <img class="foto" src="..\static\img\foto400x400.png" alt="foto" />
  </div>

  <div class="texto">
    <!-- Informações pessoais -->
    <h2>Dados Pessoais</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nostrum quod quas in ratione voluptate placeat omnis error itaque distinctio, corrupti velit eum nemo hic quo facilis tempora, sequi voluptatibus!</p>
  </div>

  <div class="texto">
        <!-- Informações educacionais -->
    <h2>Dados educacionais</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste maiores reiciendis maxime saepe rerum reprehenderit. Optio, esse ex eligendi iure laborum nobis dicta nesciunt voluptatibus id enim, ratione obcaecati nisi.</p>
  </div>

</div>
{% endblock %}