<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/styles.css" />
    <title>Portfólio</title>
  </head>
  <body class="fundo">
    <!-- Barra preta no fundo do body -->

    <div class="menu">
      <!-- Cabeçalho onde ficará a logo e o menu de navegação -->
      <img src="../static/img/logo.png" alt="logo" />
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="">Trabalhos</a>
        </li>
        <li>
          <a href="familia.html">Família</a>
        </li>
      </ul>
    </div>

    <div class="trabalho">
      <p class="trabalho">Trabalhos</p>
    </div>

    <div id="trabalho2" class="texto">
      <!-- Texto descritivo, seguindo os parâmetros do professor  -->
      <h2>Trabalho 1</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat suscipit a atque molestias! Perferendis eum maxime odit placeat eveniet, minus necessitatibus ducimus deserunt laboriosam consequatur beatae aspernatur, obcaecati incidunt! Omnis?</p>
    </div>
    <div class="texto">
      <h2>Trabalho 2</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat suscipit a atque molestias! Perferendis eum maxime odit placeat eveniet, minus necessitatibus ducimus deserunt laboriosam consequatur beatae aspernatur, obcaecati incidunt! Omnis?</p>
    </div>
  </body>
</html>
