{% extends "base.html" %}

{% block title %}
<title>Portfólio</title>
{% endblock %}

{% block content %}
<div class="trabalho">
  <p class="trabalho">Trabalhos</p>
</div>

<div id="trabalho2" class="texto">
  <!-- Texto descritivo, seguindo os parâmetros do professor  -->
  <h2>Trabalho 1</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat suscipit a atque molestias! Perferendis eum maxime odit placeat eveniet, minus necessitatibus ducimus deserunt laboriosam consequatur beatae aspernatur, obcaecati incidunt! Omnis?</p>
  </div>
  <div class="texto">
    <h2>Trabalho 2</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat suscipit a atque molestias! Perferendis eum maxime odit placeat eveniet, minus necessitatibus ducimus deserunt laboriosam consequatur beatae aspernatur, obcaecati incidunt! Omnis?</p>
  </div>
{% endblock %}
